http://pbskids.org/lions/games/abcd.html
http://www.earobics.com/gamegoo/games/pawpark2/pawpark2.html
http://learnenglishkids.britishcouncil.org/en/fun-games/abc-countdown
http://www.playkidsgames.com/games/alphabetGame/
http://www.create-a-reader.com/Components/CARPage.swf?page=Letters&site=basic&lang=English
http://www.create-a-reader.com/Components/CARPage.swf?page=Numbers&site=basic&lang=English
http://www.create-a-reader.com/Components/CARPage.swf?page=Activities&site=basic&lang=English
http://www.kidsplaypark.com/games/hatch/
http://www.earobics.com/gamegoo/games/tina2/tina2.swf
http://www.earobics.com/gamegoo/games/alien/ash.swf
http://www.earobics.com/gamegoo/games/alien2/ash2.swf
http://www.scholastic.com/magicschoolbus/games/sound/earful_04.swf
http://www.literactive.com/download/live.asp?swf=story_files/listen_and_match_us.swf
http://www.ictgames.com/letterlifter.html
http://pbskids.org/lions/games/blending.html
http://www.professorgarfield.org/Phonemics/chickenCoop.html
http://www.ictgames.com/cvcPop.html
http://www.mrcpl.org/literacy/lessons/sight/index.html
http://www.ictgames.com/phonic_fighter4.html
http://static.arcademics.com/games/penguin-jump.swf - multiplication

		<li><a href="http://www.fisher-price.com/en_US/GamesandActivities/OnlineGames/theabcszoolearninggame.html">ABCs Zoo</a></li>
		<li><a href="http://www.eduplace.com/">EduPlace</a></li>
		<li><a href="http://www.readinga-z.com/">Reading A-Z</a></li>
		<li><a href="http://www.scholastic.com/">Scholastic</a></li>
		<li><a href="hhtp://www.northpole.com">North Pole</a></li>
		<li><a href="http://www.lil-fingers.com/abc/intro.html">Lil-Fingers-ABCs</a></li>
		<li><a href="http://www.learningplanet.com/act/abcorder.asp">ABC Ordering</a></li>
		<li><a href="http://www.learningplanet.com/act/fl/aact/index.asp">AACT???</a></li>
		<li><a href="http://www.starfall.com/n/level-k/index/play.htm?f">Kindergarten Play - Starfall</a></li>
		<li><a href="http://www.kiddiesgames.com/en/play_full_screen.php?game=http://www.kiddiesgames.com/en/games/alphabet_bang.swf">Alphabet Bang - Kiddie Games</a></li>
		<li><a href="http://www.earobics.com/gamegoo/games/pawpark/pawpark.html">Earobics</a></li>
