body {background:#73C5E5 url(bg.jpg) no-repeat scroll right top;color:#333;font-family:Tahoma,Arial,Helvetica,sans-serif;background-size:contain;}
.hover_img a img { position:absolute; left:10%; display:none; z-index:99;}
.hover_img a:hover img { display:block; width:40%;}

li{list-style-type: none;line-height: 200%;}
td{vertical-align: top}
.cr, table.cr{text-align:center}
.space1{height:11em}
.rt,.lt{font-weight:bold}
.rt{text-align:right}
.lt{text-align:left}
.cr, table.cr{text-align:center}
#nav{position:absolute;width:147px;top:75px;left:0;border:inset rgb(255,255,255);height:auto}
.buttonscontainer{width:145px;clip:rect(auto,auto,auto,auto);left:auto;right:auto;bottom:auto}
.buttons a{color:#072773;background-color:#EEE;padding:4px;padding-left:4px;display:block;font:13px Arial,sans-serif;font-weight:bold;text-decoration:none;text-align:left}
.buttons a:hover{background-color:#053481;color:#FFF}
.lside{float:left;width:50%;text-align:center}
a{font-weight:bold;text-decoration:none}
table.cr {margin-left:auto; margin-right:auto;border-collapse: collapse}
h1{font-size:3em;margin-bottom: 5px}
h2{font-size:2em}
h2,h3 {margin-top:0;margin-bottom:10px;}a {color:#069;}
a:hover {text-decoration:none;}
.lt input,.rt input{width:180px}
form {margin:0;padding:0;}
.top5{margin-top:7px;}
form label {cursor:pointer;}
input,select,textarea{font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:100%;padding:3px 5px;-moz-border-radius: 7px;border-radius: 7px;max-width: 100%;}
fieldset {border:none;margin:0;padding:5px;}
.bubble{-moz-border-radius:25px;border-radius:25px;background:#FFF;display: inline-block;padding: 0 8px;margin-bottom:25px}
.bubble h1,.bubble h2, .bubble h3, .bubble h4 {margin:5px 0}
.menutitle {color: #072773;background-color:#EEE;font:16px Arial,sans-serif;font-weight:bold;text-align: center;}
#links{list-style-type:none;display:inline-block;padding:0;margin: 0;}
#links li{float:left;}
#links li.lefter{padding-right:10px;margin-right:10px;border-right:solid 3px;}
.widthy{max-width: 700px;margin: 20px auto 5px auto;}
.widthy2{max-width: 600px;margin: 20px auto 5px 40%;}
#anyone{float:right;}
#existing{float:left;max-width: 49%;}
.clr {clear:both}
form{font-size: 130%;}
hr{margin: 1.3em 0;}
@media (max-width:675px){#anyone{float:none;margin-top:15px;}#existing{float:none}.clr{display:none}body{font-size:85%}h1{font-size:2.1em}h2{font-size:1.7em}h3{font-size:1.3em}}
@media (max-width:450px){#links li{float:none;padding:5px;}#links li.lefter{padding-right:0;border-right:none;margin-right:0;}.space1{height:6em} .space1 img{height:5em}}
@media (max-width:350px), (max-device-width: 640px) and (orientation: portrait){.space1{height:6em}.explain{display:none;}h1{font-size:1.5em}h2{font-size:1.4em}h3{font-size:1.2em}}
@media screen and (max-device-width: 640px) and (orientation: landscape){#anyone{float:right;margin-top:5px;}#existing{float:left}.clr{display:block}.space1{display:none}body{font-size:70%}h1{font-size:2.1em}h2{font-size:1.7em}h3{font-size:1.3em}.explain{display:none;}}